@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');
/* font-family: 'Montserrat', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
/* font-family: 'IBM Plex Sans Arabic', sans-serif; */

* {
    --cor01: rgba(118, 118, 118, 0.514);
    --cor02: rgba(59, 59, 59, 0.164);
    --cor03: rgba(239, 239, 239, 0.4);
}

body {
    background-color: #8795ff;
}

.container {
    margin: auto;
    max-width: 800px;
    height: 500px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 8px 8px 20px 10px rgba(0, 0, 0, 0.123);
}

header {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

main {
    padding: 10px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.btn {
    font-size: 1.2em;
    padding: 5px 15px;
    margin-left: 10px;
    border: 1px solid var(--cor01);
    border-radius: 8px;
    cursor: pointer;
}

#btnLibra, #btnBitcoin {
    margin-bottom: 10px;
}

.btn:hover {
    background-color: var(--cor02);
}

.btn:active {
    background-color: var(--cor03);
}

#txtInput {
    line-height: 25px;
    font-size: 1.3em;
}

h2 {
    line-height: 25px;
}